@import "../../scss/mixins";
@import "../../scss/variables";

.previous{
    @include flex(center,center);
    flex-direction: column;
    height: 80vh;
    gap: 1rem;
    padding: 1rem;

    &__title {
        margin-bottom: 2rem;
        color: $hover;
        @include shadow(5px);
    }

    &__items {
        @include flex(center,center);
        gap: 1.5rem;
        flex-wrap: wrap;       
    }

    &__item {
        img{
            width: 200px;
            height: 250px;
            border-radius: 20px;
            opacity: .7;
            cursor: pointer;
            box-shadow: 0 0 5px black;

            &:hover {
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width:700px) {
    .previous {
        gap: .5rem;

        &__title {
            margin-bottom: 1rem;
        }

        &__items {
            gap: 1rem;
        }
    
        &__item {
            img{
                width: 150px;
                height: 180px;
            }
        }
    }
}

@media screen and (max-width:576px) {
    .previous {
        gap: .2rem;
        padding: .5rem;

        &__title {
            margin-bottom: .5rem;
            font-size: 1.5rem;
        }

        &__items {
            gap: .8rem;
        }
    
        &__item {
            img{
                width: 120px;
                height: 150px;
            }
        }
    }
}

@media screen and (max-width:330px) {
    .previous {
        gap: .2rem;
        padding: .1rem;

        &__title {
            margin-bottom: .5rem;
            font-size: 1.2rem;
        }

        &__items {
            gap: .4rem;
        }
    
        &__item {
            img{
                width: 100px;
                height: 120px;
            }
        }
    }
}