@import "../../scss/mixins";
@import "../../scss/variables";

.home{
    height: 80vh;
    @include flex(center,center);
    flex-direction: column;
    text-align: center;
    @include shadow(5px);

    &__name{
        color: $yellow;
        font-size: 5rem;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        &--last{
            color: $red;
            font-weight: 700;
        }
        
    }
    
}

@media screen and (max-width:768px) {
    .home {
        &__title {
            font-size: 1.2rem;
        }
        &__name {
            font-size: 2rem;
        }
        &__text {
            font-size: 1.2rem;
        }
    }
}