@import "../../scss/mixins";
@import "../../scss/variables";

.nav {
    height: 10vh;
    @include flex(space-between, center);
    padding: 1rem 2rem;
    @include shadow(5px);
    &__logo {
        width: 100px;
    }
    &__list {
        @include flex(center,center);
        gap: 1.5rem;
        text-transform: uppercase;
        list-style-type: none;
    }
    &__item a{
        text-decoration: none; 
        font-weight: 700;
        font-size: 1.5rem;
        color: white;
        &:hover {
            color: $hover;
            transition: all 1s;
        }
        &.active {
            color: $hover;
        }
    }
}

@media screen and (max-width:768px) {
    .nav {
        padding: 1rem;
        &__logo {
            width: 75px;
        }
        &__item a {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width:576px) {
    .nav {
        padding: .5rem;
        &__logo {
            width: 50px;
        }
        &__list {
            gap: .5rem;
        }
        &__item a {
            font-size: .7rem;
        }
    }
}

