@import "../../scss/mixins";
@import "../../scss/variables";

.footer {
    height: 10vh;
    @include flex(space-between, center);
    padding: 1rem 2rem;
    @include shadow(5px);
    .social-icons {
        @include flex(center, center);
        gap: 1rem;

        a{
            font-size: 2rem;
            color: white;
            &:hover {
                color: $hover;
                transition: all 1s;
            }
        }
    }

    .copyright {
        font-weight: 500;
    }
}

@media screen and (max-width:576px) {
    .footer {
        padding: 1rem;

        .social-icons {
            gap: .5rem;

            a {
                font-size: 1.5rem;
            }
        }

        .copyright {
            font-size: .8rem;
        }
    }
}